<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/fav.png" >
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Pathik Vejani. It fetches the data from wetherstack api</p>
        <img class="profile_pic" src="/img/robot.png" />
    </div>
    {{>footer}}
</body>

</html>